body {
    background-color: pink;
}

.foodList{
    display: flex;
    justify-content: space-evenly;
}
.foodCard {
    flex-direction: row;
    border: solid 1px black;
    padding: 10px;
     
    
}